<!DOCTYPE html>
<html lang="en">
<head>       
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Mercado Libre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">   
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">  
  
</head>
  <body>
    <header>
    <article class="header">
      <div class="header__first-row">
        <span class="header__first-row__logo">
          <img src="/images/logo-mercado-liebre.svg" alt="" width="320px">
        </span>

        <span class="container_search-bar">
          <input type="text" placeholder="Buscar productos, marcas">
          <button><i class="fas fa-search search"></i></button>
        </span>
        
        <span class="header__copy">
          <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta
          de crédito
        </span>
      </div>
      

      <nav class="nav">
        <ul>
           <li><a href="#">Ofertas</a></li>
           <li><a href="#">Tiendas Oficiales</a></li>
           <li><a href="#">Vender</a></li>
           <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">Crea tu cuenta</a><i class= "far fa-address-card"></i></li>
            <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>

       <div class="burger-menu">
        <i class="fas fa-bars"></i>
       </div>
    </article>

    <img src="/images/img-home-banner.jpg" alt="" class="banner" width=100%>
    </header>
    
    <main>
         <ul><li class= "Visita"> Basado en tu última visita </p></li></ul>
       
         <section class="catalog_1">
           <br>
         
        <article class="description">
        <div class = "info_del_producto"><img src="/images/img-cafetera-moulinex.jpg" alt="" width=80%/></div>   
         <div class="element__description">
          <i class="fas fa-truck"></i>
          <p class="item-price">$677.00</p>
          <p class="item-discount">40% OFF</p>
          <p class="item-name">Cafetera Moulinex</p><br>
         </div>
        </article>

        <article class="description">
        <div class="info_del_producto"><img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" width=80%></div>>
          <div class="element__description">
          <i class="fas fa-truck"></i>
          <p class="item-price">$230.00</p>
          <p class="item-discount">20% OFF</p>
          <p class="item-name">MacBook Pro 2019</p>
          </div>
        </article>
       
        <article class="description">
        <div class="info_del_producto"><img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" width=80%></div>
          <div class="element__description">
          <i class="fas fa-truck delivery_icon"></i>
          <p class="item-price">$7050.00</p>
          <p class="item-discount">10% OFF</p>
          <p class="item-name">Samsung Galaxy S10</p>
          </div>
        </article>
        
        <article class="description">
        <div class="info_del_producto"><img src="/images/img-tv-samsung-smart.jpg" alt="" width=80%></div>
        <div class="element__description">
          <i class="fas fa-truck delivery_icon"></i>
          <p class="item-price">$23.200</p>
          <p class="item-discount">5% OFF</p>
          <p class="item-name">SmartTv Samsung 43"</p>
        </div>
       </article>
    </section>
      
    <ul><li class ="ofertas">Ofertas</li></ul>
    <section class = "catalog_2">

        <article class="description">
            <div class="info_del_producto"><img width="80%" src="/images/img-cafetera-moulinex.jpg" alt=""></div>
                <div class="element__description"> 
                        <i class="fas fa-truck"></i>    
                        <p class= "precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class= "descripciones">Cafetera Moulinex</p> <br>
                </div>
        </article>
        <article class="description">
            <div class="info_del_producto"><img width="80%" src="/images/img-macbook-pro-2019.jpg" alt=""></div>
                <div class="element__description">
                        <i class="fas fa-truck"></i>
                        <p class= "precios">$230.00</p>
                        <p class="descuentos">20% OFF</p>
                        <p class= "descripciones">MacBook Pro 2019</p> <br>
                </div>
        </article>
        <article class="description">
            <div class="info_del_producto"><img width="80%" src="/images/img-samsung-galaxy-s10.jpg" alt=""></div>
                <div class="element__description">
                        <i class="fas fa-truck"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">Samsung Galaxy S10</p> <br>
                </div>
        </article>
        <article class="description">
            <div class="info_del_producto"><img width="80%" src="/images/img-tv-samsung-smart.jpg" alt=""></div>
                <div class="element__description">
                        <i class="fas fa-truck"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">  SmartTv Samsung 43</p> <br>        
                </div>
        </article>        
       
    <br>
    </section>
  </main>
    <footer class="footer">
      <article>
          <i class="fas fa-credit-card"></i>
          <h3> Pagá con tarjeta o en efectivo</h3> 
          <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
         </p>
        </article>

        <article>
        <i class="fas fa-gift"></i>
        <h3> Envío gratis desde $250.0 </h3> 
        <p>Solo por
          estar registrad@ en Mercado Libre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos
        </p>
        </article>

        <article>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin </h3> 
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </article>
      
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
    </footer>
  </body>
</html>